# IDE stuff
.idea
.vscode
.vs

# binaries
cmake-build-debug/**
cmake-build-release/**
cmake-build-relwithdebinfo/**
cmake-build-minsizerel/**
build/**
out/**

glpk-4.65/w64/*.dll
glpk-4.65/w32/*.dll
glpk-4.65/w64/*.lib
glpk-4.65/w32/*.lib

# OSX
.DS_Store

# Windows
Thumbs.db
